---
import Layout from "../layouts/Layout.astro";
import HeaderIcon from "../icons/HeaderIcon.astro";
import CardProject from "../components/CardProject.astro";
import ButtonPages from "../components/ButtonPages.astro";

// imports js, ts
import * as Projects from "../scripts/projects";
import { type Project } from "../scripts/projects";

export const getStaticPaths = () => {
    return [
        { params: { typeProject: "Headers" } },
        { params: { typeProject: "Footers" } },
        { params: { typeProject: "Landings" } },
        { params: { typeProject: "Microsites" } },
    ]
}

const { typeProject } = Astro.params;
let resume = ''

const namePage = typeProject.toLowerCase();

let projectModule: Project[] = [];

try{   
    if (namePage === "headers") {
        projectModule = Projects.headers;
        resume = "En la sección de headers se encuentran las páginas principales que suelen verse al ingresar a un sitio web, desarrolladas para diferentes tipos de empresas."

    } else if (namePage === "footers") {
        projectModule = Projects.footers;
        resume = "En la sección de footers se encuentran los pies de página, generalmente ubicados al final del sitio web, algunos diseñados para dark mode."

    } else if (namePage === "landings") {
        projectModule = Projects.landings;
        resume ="Hemos desarrollado sitios web más complejos, optimizados para adaptarse a distintos dispositivos, asegurando una experiencia de usuario fluida y consistente."

    } else if (namePage === "microsites") {
        projectModule = Projects.microsites;
        resume="Estos diseños son igualmente complejos en términos de diseño y adaptabilidad a diferentes dispositivos. En estos proyectos incluimos un portafolio y un sitio web compacto."
    }  
}catch(error){
    Astro.redirect("/404")
}
---

<Layout title="Proyectos-Headers | ConquerBlocks - PaulDev">
    <section
        class="bg-smoke-800 border border-smoke-700 rounded-xl w-full p-3 flex flex-col gap-3 relative"
        transition:name=`section-${typeProject}`
    >
        <h2
            class="font-cinzel text-3xl font-semibold flex gap-3 items-center justify-center"
            transition:name=`section-${typeProject}-title`
        >
            <HeaderIcon class:list={"fill-teal-500 w-5"} />{typeProject}
        </h2>
        <p class="pb-3 text-neutral-400" transition:name=`section-${typeProject}-resume`>
            {resume}
        </p>

        <div
            class="w-full h-full relative overflow-hidden grid gap-3 pb-16"
            style="grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));"
        >
            {
                projectModule.map(({aka, src, alt, url, bgcolor, color, color2}) => (
                    <CardProject
                        aka={aka}
                        src={src}
                        url={url}
                        alt={alt}
                        color={color}
                        color2={color2}
                        bgcolor={bgcolor}
                    />
                ))
            }
            <ButtonPages text="Volver Atrás" href="/" nameTransition={typeProject}/>
        </div>
    </section>
</Layout>
