---
import ButtonPages from "../components/ButtonPages.astro";
import HeaderIcon from "../icons/HeaderIcon.astro";
import { landings } from "../scripts/projects";
---

<section
    class="bg-smoke-800 border border-smoke-700 rounded-xl w-full p-3 flex flex-col gap-3 transition-all duration-300"
    transition:name="section-Landings"
>
    <h2
        class="font-cinzel text-xl font-semibold flex gap-3 items-center transition-all duration-300"
        transition:name="section-Landings-title"
    >
        <HeaderIcon class:list={"fill-teal-500 w-5"} />Landings
    </h2>
    <p class="pb-3 text-neutral-400 transition-all duration-300" transition:name="section-Landings-resume">
        Hemos creado sitios web un poco más complejos donde cambian muchas cosas
        para hacer que la página se vaya adaptando a diferentes tipos de
        dispositivos.
    </p>

    <div class="w-full h-full relative overflow-hidden">
        <div
            class="absolute inset-0 z-10"
            style="background: linear-gradient(0deg, #161616 15%, #16161610 90%);"
        >
        </div>
        <figure class="w-max h-full flex items-center gap-x-3 animate-loop">
            {
                landings.map((image) => (
                    <img
                        class="w-[180px] aspect-video rounded-lg object-cover"
                        src={image.src}
                        alt={image.alt}
                        loading="lazy"
                    />
                ))
            }
            {
                landings.map((image) => (
                    <img
                        class="w-[180px] aspect-video rounded-lg object-cover"
                        src={image.src}
                        alt={image.alt}
                        loading="lazy"
                    />
                ))
            }
            {
                landings.map((image) => (
                    <img
                        class="w-[180px] aspect-video rounded-lg object-cover"
                        src={image.src}
                        alt={image.alt}
                    />
                ))
            }
            {
                landings.map((image) => (
                    <img
                        class="w-[180px] aspect-video rounded-lg object-cover"
                        src={image.src}
                        alt={image.alt}
                    />
                ))
            }
        </figure>

        <ButtonPages text="View Landings" href="/Landings" nameTransition="Landings"/>
    </div>
</section>

<style>
    .animate-loop {
        --extra-width: 6px;
        animation-duration: 20s;
    }
</style>
