---
import ButtonPages from "../components/ButtonPages.astro";
import HeaderIcon from "../icons/HeaderIcon.astro";
import { microsites } from "../scripts/projects";
---

<section
    class="bg-smoke-800 border border-smoke-700 rounded-xl w-full p-3 flex flex-col gap-3 transition-all duration-300"
    transition:name="section-Microsites"
>
    <h2
        class="font-cinzel text-xl font-semibold flex gap-3 items-center transition-all duration-300"
        transition:name="section-Microsites-title"
    >
        <HeaderIcon class:list={"fill-teal-500 w-5"} />Micro Sites
    </h2>
    <p class="pb-3 transition-all duration-300 text-neutral-400" transition:name="section-Microsites-resume">
        Estos diseños son igualmente complejos en términos de diseño y adaptabilidad a diferentes dispositivos. En estos proyectos incluimos un portafolio y un sitio web compacto.
    </p>

    <div class="w-full h-full relative overflow-hidden">
        <div
            class="absolute inset-0 z-10"
            style="background: linear-gradient(0deg, #161616 15%, #16161610 90%);"
        >
        </div>
        <figure
            class="w-max h-full flex items-center gap-x-3 animate-loop-reverse"
        >
            {
                microsites.map((image) => (
                    <img
                        class="w-[180px] aspect-video rounded-lg object-cover"
                        src={image.src}
                        alt={image.alt}
                        loading="lazy"
                    />
                ))
            }
            {
                microsites.map((image) => (
                    <img
                        class="w-[180px] aspect-video rounded-lg object-cover"
                        src={image.src}
                        alt={image.alt}
                        loading="lazy"
                    />
                ))
            }
            {
                microsites.map((image) => (
                    <img
                        class="w-[180px] aspect-video rounded-lg object-cover"
                        src={image.src}
                        alt={image.alt}
                    />
                ))
            }
            {
                microsites.map((image) => (
                    <img
                        class="w-[180px] aspect-video rounded-lg object-cover"
                        src={image.src}
                        alt={image.alt}
                    />
                ))
            }
        </figure>

        <ButtonPages text="Ver MicroSites" href="/Microsites" nameTransition="Microsites"/>
    </div>
</section>

<style>
    .animate-loop-reverse {
        --extra-width: 6px;
        animation-duration: 20s;
    }
</style>
